# Compiled class file
*.class
build/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
classes

.gradle
build
out
gradle
!gradle/wrapper/gradle-wrapper.jar

.DS_Store

### Temporary ###
#/storage
#*/storage
#/data
#*/data
#
#### Logs ###
#logs/
#*.logs_err_pid*
.avro